@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e9edc9;
  color: #d4a373;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #fefae0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d4a373;
  border-radius: 4px;
}
